<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <form th:action="@{/user/tempPassword}" th:object="${tempPasswordForm}" method="post">
        <!-- 에러 메시지 영역 -->
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>

        <!-- 이메일 입력 필드 -->
        <div class="mb-3">
            <label for="email" class="form-label">사용자 이메일</label>
            <input type="text" name="email" id="email" class="form-control" th:field="*{email}">
        </div>

        <!-- 제출 버튼 -->
        <button type="submit" class="btn btn-primary">임시 비밀번호 생성</button>
    </form>
</div>
</html>
